# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
env/
.venv/

# Environment variables
.env
*.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*_version.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.cache
nosetests.xml
coverage.xml
*.coveragerc
*.pyre-check
.pytest_cache/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Jupyter Notebooks
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Other
*.bak
*.tmp
